@font-face {
  src: url("../../fonts/Poppins/Poppins-Black.ttf");
  font-family: "Poppins-Black";
}
@font-face {
  src: url("../../fonts/Poppins/Poppins-Bold.ttf");
  font-family: "Poppins-Bold";
}
@font-face {
  src: url("../../fonts/Poppins/Poppins-Regular.ttf");
  font-family: "Poppins-Regular";
}
@font-face {
  src: url("../../fonts/Poppins/Poppins-Light.ttf");
  font-family: "Poppins-Light";
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins-Light", sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

section {
  padding: 100px;
}

body {
  min-height: 110vh;
}

@media (max-width: 1040px) {
  section {
    padding: 80px 20px;
  }
}
.bg_animation {
  width: 30%;
}

header {
  z-index: 999;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 15px 150px;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s ease;
}
header .brand {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 700;
  font-family: "Poppins-Regular";
}
header .brand span {
  color: #3a6cf4;
}
header .navbar {
  position: relative;
}
header .navbar a {
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  margin-left: 30px;
  font-family: "Poppins-Regular";
}
header .navbar a:hover {
  color: #3a6cf4;
  transition: 0.5s ease;
}
header.stick {
  background: #315aac;
}
header.sticky {
  background: #033487;
  padding: 15px 200px;
}
header.sticky .navbar a:hover {
  color: #111;
}
header.bevhor {
  transition: all 0.5s;
}

@media (max-width: 1040px) {
  header {
    padding: 10px 20px;
  }
  header.sticky {
    padding: 10px 20px;
  }
  header .navbar {
    display: none;
  }
  header .navbar.active {
    z-index: 888;
    position: fixed;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.884);
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    transition: 5s ease;
    text-align: center;
    box-shadow: 0 5px 25px rgba(255, 255, 255, 0.15);
    transition: 0.5s ease;
  }
  header .navbar a {
    font-size: 1.2em;
    font-weight: 500;
    margin: 10px;
    padding: 0 20px;
  }
  header .navbar a:hover {
    color: #033487;
  }
  header .navbar__toggle {
    position: absolute;
    right: 0;
    background: url("../../images/basic/menu.svg"), no-repeat;
    background-size: cover;
    background-position: center;
    height: 40px;
    width: 40px;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.3s ease;
  }
  header .navbar__toggle.active {
    z-index: 999;
    background: url("../../images/basic/menu.svg"), no-repeat;
    background-size: cover;
    background-position: center;
    height: 40px;
    width: 40px;
    margin: 0 20px;
    transition: 0.3s ease;
    filter: invert(0);
  }
}
.scroll-btn {
  z-index: 999;
  position: fixed;
  bottom: 10px;
  right: 0;
  background: #3a6cf4;
  color: #fff;
  width: 45px;
  height: 45px;
  cursor: pointer;
  font-size: 22px;
  text-align: center;
  line-height: 45px;
  border-radius: 5px;
  pointer-events: none;
  opacity: 0;
  transition: all 0.5s ease;
}

.scroll-btn.active {
  right: 20px;
  pointer-events: auto;
  opacity: 1;
}

.reveal {
  position: relative;
  transform: translateY(50px);
  opacity: 0;
  transition: all 1.5s ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

.banner {
  position: relative;
  width: 100%;
  max-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: url("../../images/basic/rosa-bon.png"), #192642;
  background-position-y: bottom;
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 100px 150px;
}
.banner__content {
  max-width: 800px;
}
.banner__content h1 {
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
}
.banner__content h1 span {
  font-family: "Poppins-Bold";
  font-size: 2.8rem;
  font-weight: 400;
}
.banner .animate-text {
  position: relative;
  height: 70px;
  overflow: hidden;
}
.banner .animate-text h2 {
  color: #3a6cf4;
  color: #8e98cf;
  font-size: 3rem;
  font-weight: 700px;
  line-height: 70px;
  letter-spacing: 1px;
}
.banner .animate-text h2:nth-child(1) {
  animation: text-move 10s infinite;
}
@keyframes text-move {
  0% {
    margin-top: 0;
  }
  25% {
    margin-top: -70px;
  }
  50% {
    margin-top: -140px;
  }
  75% {
    margin-top: -70px;
  }
  100% {
    margin-top: -70px;
  }
}
.banner .social__icons {
  margin-top: 50px;
}
.banner .social__icons a {
  color: #fff;
  font-size: 25px;
  margin-right: 30px;
}
.banner .banner__animate .bg-svg {
  width: 30%;
  color: red;
}
@media (max-width: 1040px) {
  .banner h1 {
    font-size: 1rem;
    font-family: "Poppins-Light";
  }
  .banner .banner__content h1 span {
    font-family: "Poppins-Bold";
    font-size: 2.1rem;
    font-weight: 500;
  }
  .banner .animate-text h2 {
    font-size: 2.2rem;
  }
  .banner .btn {
    padding: 10px;
  }
}

.banner::after {
  content: "";
  width: 40%;
  height: 508px;
  background: #1f2c47de;
  background: #192642a4;
  position: absolute;
  top: 10px;
  right: 0px;
}

@media (max-width: 1040px) {
  .banner::after {
    content: "";
    width: 0;
    height: 0;
  }
}
.btn {
  display: inline-block;
  color: #fff;
  background-color: transparent;
  border: 1px solid #3a6cf4;
  font-weight: 600;
  padding: 10px 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 5px;
  transition: 0.5s ease;
}
.btn:hover {
  color: #fff;
  background-color: #3a6cf4;
}

.title {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title .section-title {
  font-family: "Poppins-Regular";
  position: relative;
  font-weight: 800;
  font-size: 2.2em;
  margin-bottom: 60px;
  color: #3a6cf4;
}
.title .section-title::before {
  content: "";
  position: absolute;
  top: 56px;
  left: 50%;
  width: 140px;
  height: 4px;
  background-color: #3a6cf4;
  transform: translateX(-50%);
}
.title .section-title::after {
  content: "";
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  height: 15px;
  width: 15px;
  background-color: #3a6cf4;
  border-radius: 50%;
}

@media (max-width: 1040px) {
  .title .section-title {
    font-size: 1.8em;
    margin-bottom: 40px;
  }
}
.about__content {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.about__content .col-left {
  position: relative;
  width: 35%;
}
.about__content .col-left .about__image {
  position: relative;
  width: 100%;
  height: 400px;
}
.about__content .col-left .about__image .image {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.about__content .col-right {
  position: relative;
  width: 55%;
  text-align: justify;
}
.about__content .col-right .about__subtitle {
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 20px;
  font-family: "Poppins-Regular";
}
.about__content .col-right .about__description {
  font-size: 1rem;
  margin-bottom: 20px;
}
.about .btn {
  display: inline-block;
  color: #000;
  background-color: transparent;
  border: 1px solid #3a6cf4;
  font-weight: 600;
  padding: 10px 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 5px;
  transition: 0.5s ease;
}
.about .btn:hover {
  color: #fff;
  background-color: #3a6cf4;
}

@media (min-width: 594px) and (max-width: 900px) {
  .about__content .col-right .about__subtitle {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 10px;
    font-family: "Poppins-Regular";
  }

  .about__content .col-right .about__description {
    font-size: 0.8rem;
    margin-bottom: 20px;
  }

  .about__content {
    margin-top: 0px;
  }

  .btn {
    padding: 10px;
    letter-spacing: 0px;
  }
  .btn .btn {
    display: inline-block;
    color: #000;
    background-color: transparent;
    border: 1px solid #3a6cf4;
    font-weight: 600;
    padding: 10px 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 5px;
    transition: 0.5s ease;
  }
  .btn .btn:hover {
    color: #fff;
    background-color: #3a6cf4;
  }
}
@media (max-width: 594px) and (min-width: 60px) {
  .about__content {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .about__content .colum {
    width: 100%;
  }

  .about__content .col-right {
    margin-top: 40px;
  }

  .about__content .col-right .about__subtitle {
    font-size: 1.8rem;
    margin-bottom: 20px;
  }
}
.skills {
  background: #192642;
}
.skills__content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #fff;
  margin-top: 20px;
}
.skills .col-left, .skills .col-right {
  position: relative;
  width: 46%;
}
.skills .bar {
  margin-bottom: 15px;
  padding: 10px;
}
.skills .bar .bar__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}
.skills .bar .bar__info > span {
  font-size: 18px;
  font-weight: 500;
}
.skills .bar .line {
  position: relative;
  background: #fff;
  width: 100%;
  height: 15px;
}
.skills .bar .line:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border-radius: 2px;
}
.skills .bar .html::before {
  background: #e45126;
  width: 80%;
}
.skills .bar .javascript::before {
  background: #e3a324;
  width: 75%;
}
.skills .bar .reactjs::before {
  background: #249de3;
  width: 70%;
}
.skills .bar .typeScript::before {
  background: #247de3;
  width: 60%;
}
.skills .bar .php::before {
  background: #559dee;
  width: 75%;
}
.skills .bar .nodejs::before {
  background: #1f9e5f;
  width: 55%;
}
.skills .col-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}
.skills .col-left .skills__subtitle {
  font-family: "Poppins-Regular";
  margin: 20px;
}

@media (max-width: 594px) and (min-width: 60px) {
  .skills .skills__content {
    display: flex;
    flex-direction: column;
  }

  .skills .column {
    position: relative;
    width: 100%;
  }

  .skills .col-right {
    margin-top: 40px;
  }

  .skills a {
    text-decoration: none;
    margin-top: 20px;
  }
}
.services .services__content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.services .card {
  width: 340px;
  margin: 10px;
  padding: 25px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 5px 25px rgba(1, 1, 1, 0.15);
  border-radius: 10px;
  overflow: hidden;
}
.services .title p {
  font-size: 1rem;
  width: 80%;
}
.services .services__content .card .services__icon {
  color: #3a6cf4;
  font-size: 6rem;
  text-align: center;
  transition: transform 0.5s ease;
}
.services .services__content .card:hover .services__icon {
  transform: translateY(-10px);
  cursor: pointer;
}
.services .services__content .card .card__body {
  text-align: center;
}
.services .services__content .card .card__body h3 {
  color: #3a6cf4;
  font-size: 1.2rem;
  font-weight: 700;
  margin: 10px;
  font-family: "Poppins-Regular";
}

.work {
  background: #192642;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.work__content {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}
.work__content .card {
  width: 440px;
  margin: 15px;
  overflow: hidden;
}
.work__content .card__image {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
  height: 260px;
}
.work__content .card__image:hover {
  background: rgba(0, 0, 0, 0.5);
}
.work__content .card__image img {
  position: absolute;
  width: 100%;
  object-fit: cover;
  height: 100%;
  transition: transform 0.5s ease;
}
.work__content .card__body {
  position: relative;
  top: -290px;
  background: rgba(0, 0, 0, 0.616);
  width: 0;
  border-radius: 10px;
  height: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.work__content .card__body h3, .work__content .card__body h4, .work__content .card__body p {
  font-family: "Poppins-Regular";
}
.work__content .card__image img:hover, .work__content .card__body {
  width: 100%;
  height: 100%;
  transform: scale(1.2);
  cursor: pointer;
}

.contact a {
  color: inherit;
}
.contact__content {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}
.contact__content .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.contact__content .row .card {
  background: #fff;
  width: 240px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 5px 25px rgba(1, 1, 1, 0.15);
  border-radius: 10px;
}
.contact__content .row .card .contact__icon {
  color: #3a6cf4;
  font-size: 4rem;
  text-align: center;
  transition: transform 0.5s ease;
}
.contact__content .row .card:hover .contact__icon {
  transform: translateY(-10px);
  cursor: pointer;
}
.contact__content .row .card .contact__info {
  text-align: center;
}
.contact__content .row .card .contact__info h3 {
  font-size: 1.2em;
  font-weight: 700;
  margin: 10px;
  font-family: "Poppins-Regular";
}
.contact address {
  font-style: normal;
}
.contact .row .contact__form {
  max-width: 600px;
  margin-top: 20px;
  padding: 20px 40px;
  box-shadow: 0 5px 25px rgba(1, 1, 1, 0.15);
}
.contact .row .contact__form h3 {
  color: #111;
  font-size: 1.6em;
  font-weight: 600;
  margin-bottom: 40px;
  text-align: center;
}
.contact .row .contact__form .form-group {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
}
.contact .row .contact__form .form-group input, .contact .row .contact__form textarea {
  width: 100%;
  padding: 10px;
  outline: none;
  font-size: 1em;
  font-weight: 400;
  border: 1px solid #043487;
  border-radius: 5px;
  resize: none;
}
.contact .row .contact__form .form-group input[type=submit] {
  display: inline-block;
  background: #235bf6;
  cursor: pointer;
  color: #fff;
  font-size: 1.3em;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 100%;
  border: none;
  transition: 0.5s ease;
}
.contact .row .contact__form .form-group input[type=submit]:hover {
  background: #043487;
}

@media (max-width: 594px) and (min-width: 60px) {
  .contact .row .contact__form {
    padding: 35px 40px;
  }
}
.footer {
  font-family: "Poppins-Regular";
  background: #192642;
  text-align: center;
  padding: 2em;
  color: #fff;
}
.footer .footer__title {
  font-size: 20px;
  font-weight: 600;
  margin-top: 10px;
}
.footer .footer__cpright {
  font-size: 16px;
  color: #235bf6;
}
.footer .footer__cpright a {
  text-decoration: none;
  color: #fff;
}

/*# sourceMappingURL=main.css.map */
