


$background-primary: repeating-radial-gradient(#18191a, #18191a 10px, #28191a 5px, #18191a 15px);
$white-color:#fff;
$background-primary:#111;
$link-color-hover:rgb(180, 30, 60);

$background-primary:#0f1624;
$background-primary:#192642;
$background-secondary:#0f1624;
$white-color:#fff;
$link-color-hover:#3a6cf4;

// @media queries
$medium-screen:1040px;

$small-screen:594px;

$small-media-query:(max-width:594px) and (min-width:60px);

