header{
    z-index: 999;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    padding: 15px 200px;
    background:transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition:0.5s ease;
    

    .brand{
         color:$white-color;
         font-size:1.8rem;
         font-weight: 700;
         text-transform: uppercase;
         font-family: "Poppins-Regular";
    }
    .navbar{
         position: relative;
    }
    .navbar a{
         color: $white-color;
         font-size:1rem;
         font-weight:500;
         margin-left: 30px; 
         font-family: "Poppins-Regular";
         &:hover{
              color: $link-color-hover;
              transition:0.5s ease;
         }
     }
 
     &.sticky{
         background:#033487;
         padding: 15px 200px;
     }
     &.sticky .navbar a:hover{
          color:#111;
     }   
     &.bevhor{
          transition:all 0.5s;
     }  
}