
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins-Regular";
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    
}
section {
    padding: 100px 200px;
}
body{
    min-height: 110vh;
}
