
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins-Light",sans-serif;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    
}
section {
    padding: 100px;
}
body{
    min-height: 110vh;
}
@media (max-width:$medium-screen){
    section {
        padding: 80px 20px;
    }
}
