.about{
    &__content{
        position: relative;
        display: flex;
        width: 100%;
        justify-content:space-between;
        align-items:center;
        margin-top: 20px;

        .col-left{
            position: relative;
            width:45%;
        }
        .col-left .about__image{
            position: relative;
            width: 100%;
            height: 400px;
            .image{
                position: relative;
                top: 0;
                left: 0;
                 width: 100%;
                 height: 100%;
                 object-fit: cover;
                 border-radius: 10px;
            }
        }
        // @media (min-width: 768px){
        //     .col-left,.col-right{
        //         position: relative;
        //         top: -10px;
        //          transform: translateY(-100px);
        //          margin-bottom: 0;
        //     }
        // }
        .col-right{
            position: relative;
            width:50%;
            text-align: justify;

            .about__subtitle{
                font-size: 2rem;
                font-weight: 800;
                margin-bottom: 20px;
                font-family: "Poppins-Regular";

            }
            .about__description{
                font-size: 1rem;
                margin-bottom: 20px;

            }
        }


    }
}