.about{
    &__content{
        position: relative;
        display: flex;
        width: 100%;
        justify-content:space-between;
        align-items:center;
        margin-top: 20px;

        .col-left{
            position: relative;
            width:45%;
        }
        .col-left .about__image{
            position: relative;
            width: 100%;
            height: 400px;
            .image{
                position: relative;
                top: 0;
                left: 0;
                 width: 100%;
                 height: 100%;
                 object-fit: cover;
                 border-radius: 10px;
            }
        }
        // @media (min-width: 768px){
        //     .col-left,.col-right{
        //         position: relative;
        //         top: -10px;
        //          transform: translateY(-100px);
        //          margin-bottom: 0;
        //     }
        // }
        .col-right{
            position: relative;
            width:50%;
            text-align: justify;

            .about__subtitle{
                font-size: 2rem;
                font-weight: 800;
                margin-bottom: 20px;
                font-family: "Poppins-Regular";

            }
            .about__description{
                font-size: 1rem;
                margin-bottom: 20px;

            }
        }


    }
    
}
@media (min-width: $small-screen) and (max-width:900px){
    .about__content .col-right .about__subtitle {
        font-size: 1.3rem;
        font-weight: 600;
        margin-bottom: 10px;
        font-family: "Poppins-Regular";
    }
    .about__content .col-right .about__description {
        font-size: 0.8rem;
        margin-bottom: 20px;
    }
    .about__content {
        margin-top: 0px;
    }
    .btn {   
        padding: 10px; 
        letter-spacing: 0px;
      
    }

}
@media (max-width:594px) and (min-width:60px){
    .about__content{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .about__content .colum{
        width: 100%;
    }
    .about__content .col-right{
        margin-top :40px;
    }
    .about__content .col-right .about__subtitle {
        font-size: 1.8rem;
        margin-bottom: 20px;
      
    }
}