.services {
    .services__content{
        display: flex;
        flex-direction: row;
        flex-wrap:wrap;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
    .card{
        width: 340px;
        margin: 10px;
        padding: 25px;
        justify-content:center;
        align-items:center;
        flex-direction: column;
        box-shadow: 0 5px 25px rgba(1 1 1/15%);
        border-radius: 10px;
        overflow: hidden;
    }
    .title p{
        font-size:1rem;
        width: 80%;
    }
    .services__content .card .services__icon{
        color: $link-color-hover;
        font-size: 6rem;
        text-align: center;
        transition: transform 0.5s ease;
    }
    .services__content .card:hover .services__icon{
        transform: translateY(-10px);
        cursor: pointer;
    }
    .services__content .card .card__body{
        text-align: center;
        h3{ color:$link-color-hover;
            font-size: 1.2rem;
            font-weight:700;
            margin:10px;
            @include appyRegularFont;
        }
    }
}